<ng-container *ngIf="!status">
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let candidate of candidates; index as i">
        <ion-col size="12" [id]="'open-modal-'+candidate.id" (click)="getById(i)">
          <ion-list>
            <ion-item button detail="true">
              <ion-thumbnail class="foto_caleg" slot="start">
                <ion-img [src]="candidate.foto_caleg" [alt]="candidate.nama_calon"></ion-img>
              </ion-thumbnail>
              <div class="container">
                <div class="container__chip">
                  <ion-note>{{candidate.no_urut}}</ion-note>
                </div>
                <ng-container *ngIf="candidate.nama_partai !== '-'">
                  <ion-chip color="medium" [disabled]="true">
                    <ion-avatar>
                      <img [alt]="candidate.nama_calon" [src]="candidate.foto_caleg" />
                    </ion-avatar>
                    <ion-label>{{candidate.nama_calon}}</ion-label>
                  </ion-chip>
                </ng-container>
                <ion-label class="ion-text-uppercase" color="dark" class="ion-text-wrap">
                  <strong>{{candidate.nama_calon}}</strong>
                </ion-label>
                <div class="container__chip">
                  <ion-badge>{{candidate.jenis_kelamin}}</ion-badge>
                  <ion-badge color="medium">{{candidate.dapil}}</ion-badge>
                </div>
              </div>
              <div slot="end">
                <ion-badge color="warning">{{candidate.jumlah_suara == null ? 0: candidate.jumlah_suara}} Suara</ion-badge>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-modal [trigger]="'open-modal-'+candidate.id" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.50]">
          <ng-template>
            <form class="voteCalegForm" [formGroup]="voteCalegForm" #formDir="ngForm" (submit)="simpanPolling()">
              <ion-list>
                <ion-item button detail="true">
                  <ion-thumbnail class="foto_caleg" slot="start">
                    <ion-img [src]="candidate.foto_caleg" [alt]="candidate.nama_calon"></ion-img>
                  </ion-thumbnail>
                  <div class="container">
                    <div class="container__chip">
                      <ion-note>{{candidate.no_urut}}</ion-note>
                    </div>
                    <ng-container *ngIf="candidate.nama_partai !== '-'">
                      <ion-chip color="medium" [disabled]="true">
                        <ion-avatar>
                          <img [alt]="candidate.nama_calon" [src]="candidate.foto_caleg" />
                        </ion-avatar>
                        <ion-label>{{candidate.nama_calon}}</ion-label>
                      </ion-chip>
                    </ng-container>
                    <ion-label class="ion-text-uppercase" color="dark" class="ion-text-wrap">
                      <strong>{{candidate.nama_calon}}</strong>
                    </ion-label>
                    <div class="container__chip">
                      <ion-badge>{{candidate.jenis_kelamin}}</ion-badge>
                      <ion-badge color="medium">{{candidate.dapil}}</ion-badge>
                    </div>
                  </div>
                  <div slot="end">
                    <ion-badge color="warning">{{candidate.jumlah_suara == null ? 0: candidate.jumlah_suara}} Suara</ion-badge>
                  </div>
                </ion-item>
              </ion-list>
              <ion-input id="no_tps" name="no_tps" type="number" aria-label="Vote" placeholder="Input Nomor TPS"
                label-placement="floating" fill="outline" label="Nomor TPS" formControlName="no_tps"
                [errorText]="noTpsRequest && 'Nomor TPS harus diisi'"></ion-input>

              <ion-input id="total_suara" name="total_suara" type="number" aria-label="Vote"
                placeholder="Input jumlah suara" label-placement="floating" fill="outline" label="Jumlah suara"
                formControlName="total_suara" [errorText]="totalSuaraRequest && 'Jumlah Suara Harus diisi'"></ion-input>

              <ion-button type="submit" expand="block" [disabled]="!voteCalegForm.valid">Simpan</ion-button>
            </form>
          </ng-template>
        </ion-modal>
      </ng-container>
    </ion-row>
  </ion-grid>

</ng-container>

<ng-container *ngIf="status">
  <ion-grid class="not__found__data">
    <ion-row>
      <ion-col class="img__col">
        <ion-img src="../../../assets//not-found.png" class="image__not__found__data" alt="Data not found"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="ion-text-capitalize" color="dark">
          <h1>sepertinya tidak ada kandidatnya</h1>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>