.not__found__data{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image__not__found__data{
    width: 256px;
    height: 256px;
}

.img__col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.candidate{
    border: 1px var(--ion-color-medium-tint) solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 4px;
}


.foto_caleg{
    --border-radius: 14px;
}

.logo_partai{
    --size: 28px;
    --border-radius: 9999px;
}

.voteCalegForm{
    width: 100%;
    padding: 16px;
}

.container__chip{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}