<ion-card style="padding: 16px;">
  <ion-card-content>
    <h1 style="font-size: 1.25rem;">{{title}}</h1>
    <p>{{subtitle}}</p>
    <ion-list>
      <ion-item lines="full">
        <ion-thumbnail class="foto_caleg" slot="start">
          <img src="https://infopemilu.kpu.go.id/berkas-dpd/36/36_13_ICHSAN HS.jpg" alt="thumbnail" />
        </ion-thumbnail>
        <div style="width: 100%;">
          <div class="container__chip">
            <ion-note>13</ion-note>
          </div>
          <ion-label>
            <strong>H. ICHSAN HS</strong>
          </ion-label>
          <div class="container__chip">
            <ion-badge>LAKI-LAKI</ion-badge>
            <ion-badge color="medium">BANTEN</ion-badge>
          </div>
        </div>
        <ion-text color="success">
          30%
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>