<ion-card style="padding: 16px;">
  <ion-card-content>
    <h1 style="font-size: 1.25rem;">Dewan Perwakilan Daerah</h1>
    <p>hasil perhitungan untuk tangerang selatan</p>
    <ion-list>
      <ion-item lines="full" detail="true">
        <ion-thumbnail class="foto_caleg" slot="start">
          <ion-skeleton-text class="list-ranking" [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <div style="width: 100%;">
          <ion-label>
            <ion-skeleton-text class="list-ranking" [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </ion-label>
          <ion-note>
            <ion-skeleton-text class="list-ranking" [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </ion-note>
        </div>
        <ion-skeleton-text class="list-ranking" [animated]="true" style="width: 70px; height: 20px;" slot="end"></ion-skeleton-text>
      </ion-item>
      <ion-item lines="full" detail="true">
        <ion-thumbnail class="foto_caleg" slot="start">
          <ion-skeleton-text class="list-ranking" [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <div style="width: 100%;">
          <ion-label>
            <ion-skeleton-text class="list-ranking" [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </ion-label>
          <ion-note>
            <ion-skeleton-text class="list-ranking" [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </ion-note>
        </div>
        <ion-skeleton-text class="list-ranking" [animated]="true" style="width: 70px; height: 20px;" slot="end"></ion-skeleton-text>
      </ion-item>
      <ion-item lines="full" detail="true">
        <ion-thumbnail class="foto_caleg" slot="start">
          <ion-skeleton-text class="list-ranking" [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <div style="width: 100%;">
          <ion-label>
            <ion-skeleton-text class="list-ranking" [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </ion-label>
          <ion-note>
            <ion-skeleton-text class="list-ranking" [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </ion-note>
        </div>
        <ion-skeleton-text class="list-ranking" [animated]="true" style="width: 70px; height: 20px;" slot="end"></ion-skeleton-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>