<ion-list>
  <ion-item lines="full" detail="true">
    <ion-thumbnail class="foto_caleg" slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <div class="description">
      <div class="description__top">
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
      </div>
      <ion-label>
        <ion-skeleton-text [animated]="true" class="description__name"></ion-skeleton-text>
      </ion-label>
      <div class="description__bottom">
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
      </div>
    </div>
    <ion-skeleton-text class="jumlah__suara" [animated]="true" slot="end"></ion-skeleton-text>
  </ion-item>

  
  <ion-item lines="full" detail="true">
    <ion-thumbnail class="foto_caleg" slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <div class="description">
      <div class="description__top">
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
      </div>
      <ion-label>
        <ion-skeleton-text [animated]="true" class="description__name"></ion-skeleton-text>
      </ion-label>
      <div class="description__bottom">
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
      </div>
    </div>
    <ion-skeleton-text class="jumlah__suara" [animated]="true" slot="end"></ion-skeleton-text>
  </ion-item>

  
  <ion-item lines="full" detail="true">
    <ion-thumbnail class="foto_caleg" slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <div class="description">
      <div class="description__top">
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
      </div>
      <ion-label>
        <ion-skeleton-text [animated]="true" class="description__name"></ion-skeleton-text>
      </ion-label>
      <div class="description__bottom">
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text class="description__badge" [animated]="true"></ion-skeleton-text>
      </div>
    </div>
    <ion-skeleton-text class="jumlah__suara" [animated]="true" slot="end"></ion-skeleton-text>
  </ion-item>
</ion-list>