<ion-list>
  <ion-item lines="full" detail="true">
    <div class="description">
      <ion-label>
        <ion-skeleton-text [animated]="true" class="description__name"></ion-skeleton-text>
      </ion-label>
    </div>
    <ion-skeleton-text class="jumlah__suara" [animated]="true" slot="end"></ion-skeleton-text>
  </ion-item>

  
  <ion-item lines="full" detail="true">
    <div class="description">
      <ion-label>
        <ion-skeleton-text [animated]="true" class="description__name"></ion-skeleton-text>
      </ion-label>
    </div>
    <ion-skeleton-text class="jumlah__suara" [animated]="true" slot="end"></ion-skeleton-text>
  </ion-item>
</ion-list>