.description,
.description__badge,
.description__bottom,
.description__name,
.description__top,
.jumlah__suara{
    --border-radius: 9999px;
    --background: var(--primary);
}

.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.description__top,
.description__bottom{
    display: flex;
    flex-direction: row;
    gap: 4px; 
}

.description__name{
    width: 40%;
    height: 20px;
}

.jumlah__suara,
.description__badge{
    width: 70px; 
    height: 20px;
}